.user-list {
    width: 100%;
}

.user-list td {
    /*padding: 0.25em;*/
}

#user-invites {
    padding: 1em 0;
}

.remove-user, 
.add-user, 
.household-owner, 
.household-user, 
.void-action, 
.remove-action,
.unvoid-action {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    padding: 2px 4px;
    border-radius: 0.25em;
    font-weight: 700;
    margin: 0 0.5em; 
}

.household-owner {
    background-color: blue;
    color: #fff;
}

.void-action, .unvoid-action {
    background-color: #eee;
}

.void-action a {
    color: firebrick;
}

.unvoid-action a {
    color: darkgreen;
}

.add-user, .household-user {
    background-color: lime;
}

.add-user a {
    color: #000;
}

.remove-user, .remove-action {
    color: #fff;
    background-color: #f00;
}

.remove-user a, .remove-action a {
    color: #fff;
}

.user-list tr td {
    padding: 0.5em;
}
.user-list tr:nth-child(even) {
    background-color: rgba(0,0,0,0.15);
}

.modal-div,
#add-withdrawal-modal, 
#add-deposit-modal,
#edit-deposit-modal,
#closed-accounts-modal,
#deleted-transaction-modal,
#create-budget-modal,
#edit-budget-modal,
#chart-modal,
#category-edit-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /*background-color: lightgreen;
    padding: 2em;
    border-radius: 0.25em;
    border: 1px dashed green;*/
    display: none;
    z-index:3800;
}

.void-transaction td {
    text-decoration: line-through;
}

.void-transaction td.table-action {
    text-decoration:none;
}

.btn-transaction {

}

.overdraft-alert {
    color: firebrick;
    font-weight: 700;
}

.b-row {
    border: 1px dashed red;
}


.edit-header span {
    font-size: 1.7em;
    font-weight: 500;
    margin-right: 0.25em;
}

.edit-header {
    padding-top: 0.5em;
}

#add-budget-income {
    display: none;
}

.radio-container {
    border: 1px solid #EB7F00;
    border-radius: 0.25em;
    padding: 1em;
    margin-bottom: 1em;
}

.radio-container input {
    margin-left: 2em;
}

.auto-height {
    min-height: auto !important;
}

.no-margin {
    margin: 0 !important;
}

.balance {
    font-weight:  700;
    font-size: 3em;
    color: green;
}

.negative-balance {
    color: firebrick;
}

a {
    color: #225378;
}

.table-action button {
    background-color: #fefefe;
}

.btn-edit-transaction {
    color: #666;
}

.btn-void-transaction,
.btn-delete-transaction {
    color: firebrick;
}

.btn-unvoid-transaction,
.btn-undelete-transaction,
.btn-reconcile-transaction {
    color: green;
}

#this-category {
    padding:1em;
    background-color: rgba(255,255,255,0.8);
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #333;
    display: none;
}

#this-category form table tr td, #add-category-modal table tr td {
    padding: 0.5em 0.75em;
}

.v-padded {
    padding: 0.5em 0;
}